body {
  margin: 0;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

code {
  font-size: large;
}

main > section {
  width: 80%;
  max-width: 20cm;
  margin-bottom: 10vh;
}

section > div {
  border-style: dashed;
  border-width: 6px;

  padding: 6px;

  min-height: 20vh;
}

section > details {
  margin: 10px;
  border: 1px inset black;
}
.parent {
  position: relative;
}

summary {
  outline: none;
}

.fx {
  display: flex;
}
.fx-center {
  justify-content: space-evenly;
  align-items: center;
}
.fx-row {
  flex-direction: row;
}
.fx-col {
  flex-direction: column;
}
.fx-space {
  justify-content: space-around;
  justify-items: space-around;
}
.fx-left {
  justify-content: left;
  justify-items: left;
}

.hide {
  display: none;
}
