nav {
    height: 100px;
    background-color: black;
    display: flex;
}

nav > a {
    margin: 40px;
}

nav > a:link, nav > a:visited {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
nav > a:hover, nav > a:active {
background-color: red;
}