.box {
  width: 50%;
  height: 20vh;
  overflow: auto;
  filter: blur(0);
  border: 1px solid #000;
  padding: 0 10px;
  box-sizing: border-box;
}

.box p {
  font-size: 14px;
}

.spoiler {
  width: 50%;
  vertical-align: middle;
  height: 20vh;
  line-height: 20vh;
  text-align: center;
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.9);
  cursor: pointer;
}