.butterfly {
  width: 20%;
}

.greyed-out {
  filter: grayscale(100%);
}

.abs-pos {
  position:absolute;
  z-index: 1000;
}

@keyframes fly {
  0%   {transform: scaleX(1);}
  50%  {transform: scaleX(0.4);}
  100% {transform: scaleX(1);}
}
.flying{
  animation: fly 1s infinite;
}
